#texto1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
    text-align: center;
    color: blue;
}

#imagen1 {
    width: 30%;
    height: 30%;
    margin: auto;
    display: block;
}

#texto2 {
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    text-align: right;
    color: blue;
}

#imagen2 {

    margin: auto;
    display: block;
}

.footer {
    margin-top: 20px;
    font-size: 100%;
    text-align-last: center;
    color: blue;
}